.App{
	height: 100vh;
	width: 100vw;
	background-color:#f3f3f3;
	overflow-y: auto;
}
.upper{
	display: flex;
	flex-direction: column;
	min-width: 300px;
	width: auto;
	justify-content: center;
	margin: 0px auto 5px auto;
	padding-bottom: 5px;
	border-bottom: 2px solid black;
}
.allContacts{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.contact{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	width: 250px;
	border: 2px solid #c73c62;
	box-sizing: border-box;
}
.contentStyle{
	word-break: break-all;
}
.edit,.remove{
	margin: 2px;
	color: white;
	background-color: #ff3f3f;
	border-radius: 5px;
	border-color: #ff3f3f;
	cursor: pointer;
}